*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    max-width: 100%;
}

body{
    display: flex;
}

aside>div, header, main, footer, menu, main>div{
    display: flex;
    flex-direction: column;
}

aside{
    position: relative;
}

aside>p{
    width: 100%;
    height: 30%;
    position: absolute;
    top: 0;
}

aside>div{
    height: 100%;
    background-color: rgb(80, 80, 110);
    color: white;
    gap: 4vh;
}

header{
    align-items: center;
    justify-content: center;
    gap: 10px;
}

figure{
    width: 150px;
}

figure>img{
    width: 100%;
}

h1{
    white-space: nowrap;
}

main, footer{
    gap: 1vh;
}

menu, main>div{
    gap: 1vh;
}

menu{
    cursor: pointer;
}

section{
    background-color: yellow;
    overflow-y: auto;
    max-width: 100%;
}

aside>div, section{
    padding: 3vh 3vw;
}
  

